<!-- Put the HTML template for your page here! -->
<docotype! html>
<!DOCTYPE html>
<html>
<head>
	<title>cs lab</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Ping Pong is a graet game!</h1>

	<p>ping pong is a nice 2 man competition, you dont have to swet, it is only skils</p>	
	<p>my favorit games are:</p>
	<h2>games: </h2>
	
		{ % if likes_same_sport=True %}
			<li> you cant see my list </li>
		{% else %}
			{% for game in games %}
			<ul>
				<li> {{game}} </li>
			</ul>
			{% endfor %}
		{% enfif%}
</body>
</html>